.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    width: 100vw; /* Full viewport width */
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: 500px;
    gap: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  
  input, textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px;
    background: green;
    color: white;
    border: none;
    cursor: pointer;
  }
  